<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tbody>
      <% @service_category.each do |cat| %>
      <tr>
        <td><strong><%= cat.name %></strong>
          <div class="field">
            <% cat.services.all.each do |rt| %>
                <%= f.radio_button(:service, rt.name) %>
                <%= f.label :service, rt.name %>
                <% end %>
            <% end %>
          </div>
          <div class="field">
            <%= f.label 'Describe problem:' %><br>
            <%= f.text_field :description %>
          </div>

      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %></td>
  </div>
<% end %>
