<div class="row">
  <div class="col-md-6 col-sm-6">
<%= form_for([@request, @request.quotes.new]) do |f|%>
<% if @request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this quote from being saved:</h2>

    <ul>
    <% @request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.hidden_field :service_center_id, value: @service_center.id %>
  <div class="field">
    <%= f.label 'Quote ' %><br>
    $<%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label 'Notes for customer' %><br>
    <%= f.text_area :comment %>
  </div>
</div>
<div class="col-md-6 col-sm-6">
  <p> Appointment times </p>
  <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.label 'First available' %>
        <div class="input-group date" id="datetimepicker1">
          <%= f.text_field(:appointment1, class: 'form-control', data: {date_format: 'DD/MM/YYYY hh:mm'}) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
      </div>
    <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.label 'Second available' %>
        <div class="input-group date" id="datetimepicker2">
          <%= f.text_field(:appointment2, class: 'form-control', data: {date_format: 'DD/MM/YYYY hh:mm'}) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
      </div>
    <div class="row">
    <div class='col-sm-6'>
      <div class="form-group">
        <%= f.label 'Third available' %>
        <div class="input-group date" id="datetimepicker3">
          <%= f.text_field(:appointment3, class: 'form-control', data: {date_format: 'DD/MM/YYYY hh:mm'}) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
  </div>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  </div>
</div>
