<%= form_for([@request, @request.quotes.new]) do |f|%>

  <%= f.hidden_field :service_center_id, value: @service_center.id %>
  <div class="field">
    <%= f.label 'Quote ' %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label 'Notes for customer' %><br>
    <%= f.text_area :comment %>
  </div>
  <p> Appointment times </p>
  <div class="field">
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.number_field :cost %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
