<%= form_for([@request, @request.quotes.build]) do |f|%>

<%= f.hidden_field :service_center_id, value: @service_center.id %>

<div class="col-md-6 col-sm-6">
  <div class="field">
    <%= f.label 'Quote' %>
    <br>
    <%= f.number_field :cost %>
    #  f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: :0.01

  </div>
  <div class="field">
    <%= f.label 'Notes for customer' %><br>
    <%= f.text_area :comment %>
  </div>
</div>

<div class="col-md-6 col-sm-6">
  <p>
    Appointment times
  </p>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :datetime, 'First available' %>
        <div class="input-group date" id="datetimepicker1">
          <%= f.text_field :appointment1, class: 'form-control', data: { date_format: 'YYYY/MM/DD hh:mm' }%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :datetime, 'Second available' %>
        <div class="input-group date" id="datetimepicker2">
          <%= f.text_field :appointment2, class: 'form-control', data: { date_format: 'YYYY/MM/DD hh:mm' } %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :datetime, 'Third available' %>
        <div class="input-group date" id="datetimepicker3">
          <%= f.text_field :appointment3, class: 'form-control', data: { date_format: 'YYYY/MM/DD hh:mm' } %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Add Quote', class: 'btn btn-default'%>
  </div>
</div>
<% end %>
