<div>
  <h1>Listing Requests</h1>
  <div>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Email</td>
          <th>Requests</th>
          <th>description</th>
          <th>Quotes</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <div>
      <tbody>
        <% @requests.each do |req| %>
          <tr>
            <td><%= req.user.email %></td>
            <td><%= link_to req.service, request_path(req) %></td>
            <td><%= req.description %></td>
            <td><%= req.quotes.count %></td>
            <td><%= link_to 'Add quote', add_quote_url(req) %></td>
            <td><%= link_to 'Remove', req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
      </table>
    </div>
    </div>
      
  </div>
