<!--/////////////////// START USER  PROFILE ROW /////////////////////-->
	<div class="row userRow">
		<div class="col-md-6 col-sm-6 userText">
			<div style="float:left;padding:9px 0px;margin-right:15px;"><i class="fa fa-user fa-3x"></i></div>
			<% u = @user %>
			<div style="padding:12px 0px;"><b><%= u.first_name %> <%= u.last_name %></b><br>Member since <%= u.created_at.strftime('%Y')%></div>
		</div>
		<div class="col-md-6 col-sm-6 userText">
			<div style="float:left;padding:9px 0px;margin-right:15px;"><i class="fa fa-car fa-3x"></i></div>
			<div style="padding:12px 0px;"><b><%= u.autos.last.year %> <%= u.autos.last.make %> <%= u.autos.last.model %></b> <%= u.autos.last.trim.truncate(27, separator: ' ') %></div>

		</div>
	</div>
<!--/////////////////// START WELCOME MESSAGE ROW /////////////////////-->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1>Welcome back <%= @user.first_name %></h1>
			We value you as a customer and strive to deliver a solution that is right for you.<br><br>
		</div>
	</div>
<!--/////////////////// START NOTIFICATION ROW /////////////////////-->
<% if @appointments.empty? %>
<div class="row apptRow">

</div>
	<% else %>
	<div class="row apptRow">
		<div class="col-md-2 col-sm-12 apptHead" style="line-height:80px;height:80px;text-align:center;">
			<h4>You have a new<br>appointment!</h4>
		</div>
		<% @appointments.each do |a| %>
		<div class="col-md-4 col-sm-12" style="padding:0;">
			<div class="apptHead">Where & When</div>
			<div class="apptText"><%= a.quote.service_center.service_center_name %><br><%= a.selected_appointment %></div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Your Vehicle</div>
			<div class="apptText"><%= a.quote.request.auto.year %><br><%= a.quote.request.auto.make %> <%= a.quote.request.auto.model %></div>
		</div>
		<div class="col-md-3 col-sm-12" style="padding:0;">
			<div class="apptHead">Services</div>
				<div class="apptText"><%= a.request.service.to_sentence if a.request.service %></div>
		</div>
		<% end %>
	</div>
	<% end %>

<!--/////////////////// START MAINTENANCE LISTINGS COLUMN /////////////////////-->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h3>Your Maintenance</h3>
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#mainNew">Quotes</a></li>
				<li class="inactive"><a data-toggle="tab" href="#mainRequests">Open Requests</a></li>
			  <li class="inactive"><a data-toggle="tab" href="#mainAppointments">Appointments</a></li>
			  <li class="inactive"><a data-toggle="tab" href="#mainHistory">Past work</a></li>
			</ul>
			<div class="tab-content" style="border:solid 2px #ff6600;">
				<div id="mainNew" class="tab-pane fade in active">
					<div class="row">
								<% if @user.quotes.empty? %>
						<div class="col-md-12 col-sm-12">
							<p>No Quotes yet, but our dogs are finding the best services </p>
						</div>
								<% elsif @user.appointments.any? %>
						<div class="col-md-12 col-sm-12">
							<p>You have selected a quote, check your appointments </p>
						</div>
								<% else %>
					<% @user.quotes.each do |q| %>
							<%= link_to q.request do %>
					<div class="col-md-12 col-sm-12">
						<b><%= q.request.created_at.strftime("%m/%d/%y") %> - Auto: <b><%= q.request.auto.year %> <%= q.request.auto.make %> <%= q.request.auto.model %></b> - Services: <%= q.request.service.to_sentence %></b><br>
						Your comments: <i><%= q.request.description %></i><br>
						Service Notes: <i>"We will inspect the discs and pads thoroughly"</i>
					<div class="row">
						<div class="col-md-6 col-sm-12">
						Service Center: <b><%= q.service_center.service_center_name %></b>
						</div>
						<div class="col-md-6 col-sm-12">
						Bid Amount: <b><%= number_to_currency(q.cost) %></b>
						</div>
					</div>
					<br>
				</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
				</div>
				<div id="mainRequests" class="tab-pane fade">
					<% if @requests.blank? %>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<p>Go create a new requests</p>
						</div>
					</div>
					<% else %>
				<% @requests.each do |r| %>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<b><%= r.created_at.strftime("%m/%d/%y") %> - Auto: <b><%= r.auto.year %> <%= r.auto.make %> <%= r.auto.model %></b> - Services: <%= r.service.to_sentence %></b><br>
							Your comments: <i><%= r.description %></i><br>
						</div>
						<div class="col-md-6 col-sm-12">
						<%= link_to 'Remove', r, method: :delete, class: "btn btn-default" %>
						</div>
					</div><br>
					<%end%>
				<% end %>
				</div>
				<div id="mainAppointments" class="tab-pane fade">
					<% if @appointments.blank? %>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<p>No Appointments yet.</p>
						</div>
					</div>
					<% else %>
				<% @appointments.each do |a| %>
					<div class="row">
						<div class="col-md-12 col-sm-12">
						<b><%= a.selected_appointment %> - <%= a.request.service.to_sentence %></b><br>
						Your comments: <i><%= a.request.description %></i><br>
						Service Notes: <i><%= a.quote.comment %></i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
						Service Center: <b><%= a.quote.service_center.service_center_name %></b>
						</div>
						<div class="col-md-6 col-sm-12">
						Bid Amount: <b><%= a.quote.cost %></b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">

						<span style="color:#ff6600; font-weight:bold;"><%= link_to 'Cancel appointment', a, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure you want to cancel this?'} %></span>
						</div>
					</div>
					<%end%>
				<% end %>
				</div>

				<div id="mainHistory" class="tab-pane fade">
					<div class="row">
						<div class="col-md-12 col-sm-12">
						<b>7/15/16 - Tire Rotation</b><br>
						Service Notes: <i>"We can also look at wear and tear on your tires"</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
						Service Center: <b>Joe's Auto</b>
						</div>
						<div class="col-md-6 col-sm-12">
						Bid Amount: <b>$27.00</b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
						<span style="color:#ff6600; font-weight:bold;">COMPLETE</span>
						</div>
					</div>
			</div>
		</div>
<!--/////////////////// START YOUR LOCATION COLUMN /////////////////////-->
		<div class="col-md-4 col-sm-12">
			<br>
		</div>
	</div>
</div>
<!--///////////////// OLD CODE ////////////////////-->
    <!-- <table class='table table-striped'>
      <thead>
        <tr>
          <th>Email</td>
          <th>Vehicle</td>
          <th>Requests</th>
          <th>description</th>
          <th>Quotes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |req| %>
          <tr>
            <td><%= req.user.email %></td>
            <td><%= req.auto.year %> | <%= req.auto.model.capitalize %></td>
            <td><%= link_to req.service.to_sentence, req %></td>
            <td><%= req.description %></td>
            <td><%= req.quotes.count %></td>
            <td><%= link_to 'Add quote', add_quote_url(req) %></td>
            <td><%= link_to 'Remove', req, method: :delete %></td>
        <% end %>
          <tr>
      </tbody>
      </table> -->
