<div class="container-overflow-wrap bannerStep2">
  <div class='container'>
    <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='m12'>
        <div class="container" style="margin-top:110px;height:100% !important;">
          <div class="row">
            <!-- Main page content -->
            <!-- BEGIN PROBLEM MAIN CONTENT AREA -->
            <div class="col-md-3 col-sm-12">
              <h3 class="headline">Choose the service you need assistance with here.<br><br>Its easy to choose and find any word or just tell us in your own words!<h3></div>
                <div class="col-md-6 col-sm-12">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">

                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a data-toggle="tab" href="#common">COMMON SERVICES</a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#warning">WARNING LIGHTS</a>
                        </li>
                      </ul>

                      <div class="tab-content" style="overflow: hidden;">
                        <div id="common" class="tab-pane fade in active">
                          <h3 style="margin-top:0px;">Common Vehicle Services</h3>
                          <p>Choose from our extensive list of common vehicle service or maintenance.</p>

                          <div>
                            <div>

                              <!-- PUT COMMON SERVICES DATA HERE -->
                              <table id="commonTable" class="commonTableFormat">
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink" data-toggle="modal" data-target="#myModal_1">
                                        <span class="badge">
                                          <i class="flaticon-oil"></i>
                                        </span>
                                        Engine Oil Change</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-tire"></i>
                                        </span>
                                        Tires and Wheels</a>
                                    </h4>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-break-2"></i>
                                        </span>
                                        Brake System</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-frost-1"></i>
                                        </span>
                                        A/C & Heating</a>
                                    </h4>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-radiator"></i>
                                        </span>
                                        Radiator & Coolant</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-car-5"></i>
                                        </span>
                                        Regular Maintenance</a>
                                    </h4>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-steering-wheel"></i>
                                        </span>
                                        Steering & Suspension</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-exhaust"></i>
                                        </span>
                                        Exhaust System</a>
                                    </h4>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-engine"></i>
                                        </span>
                                        Engine</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-gearshift"></i>
                                        </span>
                                        Transmission</a>
                                    </h4>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-battery"></i>
                                        </span>
                                        Electrical</a>
                                    </h4>
                                  </td>
                                  <td>
                                    <h4>
                                      <a href="#" class="commonLink">
                                        <span class="badge">
                                          <i class="flaticon-mechanic"></i>
                                        </span>
                                        Describe Problem</a>
                                    </h4>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div id="warning" class="tab-pane fade">
                          <h3 style="margin-top:0px;">Dashboard Warning Lights</h3>
                          <p>Just select the warning light that is displayed on your dashboard.</p>

                          <!-- PUT WARNING LIGHTS DATA HERE -->
                          <div class="text-center">
                            <span class="dropt">
                              <%=image_tag('warnings/001.png', :id => "001png", class: 'warning', title: "Oil Pressure Warning - this light will illuminate when the oil pressure sensor detects low oil pressure, the vehicle's engine should be switched of immediately to avoid
                              severe engine damage and the oil level checked to ensure correct quantity in the engine.", :onclick=>"populateData('input040','Oil Pressure Light','input040close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/002.png', :id => "002png", class: 'warning', title: "Battery Warning - This means the vehicle has stopped charging the battery and will eventually go flat. Seek professional help to resolve the issue.",
                              :onclick=>"populateData('input041','Battery Warning Light','input041close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/004.png', :id => "004png", class: 'warning', title: "Front Airbag - Indicates a fault with the airbag system and disables the airbag function, this is now an MOT failure when presented with the light illuminated. Amber light
                              informs the driver when a passenger air bag has been switched of manually.", :onclick=>"populateData('input042','Front Airbag Light','input042close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/005.png', :id => "005png", class: 'warning', title: "Temperature Warning Light - it warns the driver when the engine is overheating and usually demands the driver to stop the vehicle and seek attention to rectify the fault.",
                              :onclick=>"populateData('input043','Temperature Warning Light','input043close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/010.png', id: "010png", class: 'warning', title: "ABS Warning Light - ABS Warning Light - this light will show when you have a fault in the ABS braking system, this will not result in losing your brakes but additional safety
                              features will have been switched of by the control module, professional help should be sought to resolve the issues. Note: The light illuminates briefly on engine start up but switches of automatically.", onclick: "populateData('input044','ABS
                              Warning Light','input044close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/011.png', :id => "011png", class: 'warning', title: "Engine Management Light - this light illuminates when the vehicle detects a fault with the engine management system usually related to emissions or running concerns. Can
                              cause the vehicle to go into limp home mode when illuminated with a loss of engine power, this light require's immediate professional attention to prevent damage to expensive exhaust components.", :onclick=>"populateData('input045','Engine
                              Light','input045close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/016.png', :id => "016png", class: 'warning', title: "Warning Light - this light will illuminate with other lights and is usually accompanied by an error message in the display", :onclick=>"populateData('input046','Warning
                              Light','input046close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/003.png', :id => "003png", class: 'warning', title: "Brake System Alert - this light indicates a low brake fluid level and professional help should be sought to rectify any issues, leaks or low brake linings are a common cause,
                              this light is sometimes used when a vehicle has an ABS fault.", :onclick=>"populateData('input047','Brake System Light','input047close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/017.png', :id => "017png", class: 'warning', title: "Tire Pressure Monitor - consult your owner's manual and re inflate the tyres to correct pressure, then reset the system to extinguish the light, 32 psi is a good pressure if
                              they are not available.", :onclick=>"populateData('input048','Tire Pressure Light','input048close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/015.png', :id => "015png", class: 'warning', title: "Glow Plug Warning - used on Diesel vehicles, no attempt to start the vehicle must be made until the light is extinguished. The light is also used with the engine management
                              light when a fault has been detected.", :onclick=>"populateData('input049','Glow Plug Light','input049close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/018.png', :id => "018png", class: 'warning', title: "Bulb Failure - indicates a problem with one or more of the vehicles bulbs. Pop in and we will gladly replace the offending bulb.", :onclick=>"populateData('input050','Bulb
                              Failure Light','input050close');".html_safe)%>
                            </span>
                            <span class="dropt">
                              <%=image_tag('warnings/012.png', :id => "012png", class: 'warning', title: "Powertrain Malfunction - this light will illuminate when the engine management system detects a fault that requires the engine to be shut down and requires immediate
                              attention by a qualified technician.", :onclick=>"populateData('input051','Powertrain Light','input051close');".html_safe)%>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- BEGIN YOUR VEHICLE AND YOUR SERVICES AREA -->
                <div class="col-md-3 col-sm-12" style="margin-top:40px;">
                  <div class="row">
                    <!-- TITLES AND CONTENT YOUR VEHICLE AND YOUR SERVICES AREA -->
                    <div class="col-md-12 col-sm-12 text-center carHeader">
                      Your Vehicle
                    </div>
                    <div class="col-md-12 col-sm-12 text-center carData">
                      <!-- POPULATE WITH VEHICLE DATA -->
                      <b><%= @auto.year %>
                        <%= @auto.make %>
                        <%= @auto.model %></b><br>
                      <%= @auto.trim %><br>
                      <%= number_with_delimiter(@auto.mileage) %>
                      miles
                    </div>
                    <div class="col-md-12 col-sm-12 text-center carHeader">
                      Your Services
                    </div>
                    <div class="col-md-12 col-sm-12 carData" style="min-height:60px;">
                      <!-- POPULATE WITH SELECTED SERVICES -->
                      <%= form_for(@request) do |f| %>
                      <% if @request.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@request.errors.count, "error") %>
                          prohibited this request from being saved:</h2>
                        <ul>
                          <% @request.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                          <% end %>
                        </ul>
                      </div>
                      <% end %>
                      <form id="services" name="ServicesForm" class="form-inline" style="display:inline!important;">
                      <table id="servicesRows" width="100%">
                      <!-- START COMMON SERVICES INPUTS-->
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input001' %></td><td><b onclick="clearData('input001');hideClose.call(this)" id="input001close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input002' %></td><td><b onclick="clearData('input002');hideClose.call(this)" id="input002close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input003' %></td><td><b onclick="clearData('input003');hideClose.call(this)" id="input003close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input004' %></td><td><b onclick="clearData('input004');hideClose.call(this)" id="input004close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: true, class: 'hideme2', id: 'input005' %></td><td><b onclick="clearData('input005');hideClose.call(this)" id="input005close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input006' %></td><td><b onclick="clearData('input006');hideClose.call(this)" id="input006close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input007' %></td><td><b onclick="clearData('input007');hideClose.call(this)" id="input007close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input008' %></td><td><b onclick="clearData('input008');hideClose.call(this)" id="input008close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input009' %></td><td><b onclick="clearData('input009');hideClose.call(this)" id="input009close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input010' %></td><td><b onclick="clearData('input010');hideClose.call(this)" id="input010close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input011' %></td><td><b onclick="clearData('input011');hideClose.call(this)" id="input011close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input012' %></td><td><b onclick="clearData('input012');hideClose.call(this)" id="input012close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input013' %></td><td><b onclick="clearData('input013');hideClose.call(this)" id="input013close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input014' %></td><td><b onclick="clearData('input014');hideClose.call(this)" id="input014close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input015' %></td><td><b onclick="clearData('input015');hideClose.call(this)" id="input015close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input016' %></td><td><b onclick="clearData('input016');hideClose.call(this)" id="input016close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input017' %></td><td><b onclick="clearData('input017');hideClose.call(this)" id="input017close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input018' %></td><td><b onclick="clearData('input018');hideClose.call(this)" id="input018close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input019' %></td><td><b onclick="clearData('input019');hideClose.call(this)" id="input019close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <!-- START WARNING LIGHTS INPUTS-->
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input040' %></td><td><b onclick="clearData('input040');hideClose.call(this)" id="input040close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input041' %></td><td><b onclick="clearData('input041');hideClose.call(this)" id="input041close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input042' %></td><td><b onclick="clearData('input042');hideClose.call(this)" id="input042close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input043' %></td><td><b onclick="clearData('input043');hideClose.call(this)" id="input043close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input044' %></td><td><b onclick="clearData('input044');hideClose.call(this)" id="input044close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input045' %></td><td><b onclick="clearData('input045');hideClose.call(this)" id="input045close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input046' %></td><td><b onclick="clearData('input046');hideClose.call(this)" id="input046close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input047' %></td><td><b onclick="clearData('input047');hideClose.call(this)" id="input047close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input048' %></td><td><b onclick="clearData('input048');hideClose.call(this)" id="input048close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input049' %></td><td><b onclick="clearData('input049');hideClose.call(this)" id="input049close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input050' %></td><td><b onclick="clearData('input050');hideClose.call(this)" id="input050close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <tr>
                        <td><%= f.text_field :service, multiple: 'true', class: 'hideme2', id: 'input051' %></td><td><b onclick="clearData('input051');hideClose.call(this)" id="input051close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      <!-- START DESCRIPE INPUT -->
                      <tr>
                        <td><%= f.text_area :description, rows: 4, class: 'hideme2', id: 'input060'%></td>
                        <td valign="top"><b onclick="clearData('input060');hideClose.call(this)" id="input060close" class="hideme2"><span style="cursor:pointer;color:#ff6600;"><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                        </td>
                      </tr>
                      </table>
                    </div>
                      <div class="row text-center">
                        <div class="col-md-12 col-sm-12"><br>
                          <%= f.submit 'NEXT STEP', class: 'btn btn-default'%>
                        </div>
                      </div>
                      </form>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
