
<div class="row">
<!-- Main page content -->

    <!-- BEGIN PROBLEM MAIN CONTENT AREA -->
    <div class="col-md-9 col-sm-12">
      <div class="row">
        <div class="col-md-2 col-sm-12" style="padding:0px;">
          <!-- PUT NAV FOR COMMON, WARNINGS, DESCRIBE HERE -->
          <nav class="probSidenav">
          <a  id="navCommon" class="text-center tablink" onclick="openProb(event, 'common');"><%= image_tag('probCommon.png', :class => "propNavItem" )%><br>Common</a>
          <a  id="navWarnings" class="text-center tablink" onclick="openProb(event, 'warnings');"><%= image_tag('probWarning.png', class: "propNavItem")%><br>Warnings</a>
          <a  id="navDescribe" class="text-center tablink" onclick="openProb(event, 'describe');"><%= image_tag('probDescribe.png', class: "propNavItem")%><br>Describe</a>
          </nav>
        </div>
        <div class="col-md-10 col-sm-12" style="padding:0px;">
          <div class="probContainer">
            <div id="getstarted">
              <div class="probHeader">
                <h2 style="margin:0px">Lets get started!</h2>
                <p>Choose a category to the left to choose your services.</p>
              </div>
              <div>
                <div class="row getStarted"><br>
                  <div class="col-md-4 col-sm-4 text-center">
                    <%= image_tag('probCommon.png') %><br>
                    Choose from our extensive list of common vehicle service or maintenance.
                  </div>
                  <div class="col-md-4 col-sm-4 text-center">
                    <%= image_tag('probWarning.png') %><br>
                    Just select the warning light that is displayed on your dashboard.
                  </div>
                  <div class="col-md-4 col-sm-4 text-center">
                    <%= image_tag('probDescribe.png') %><br>
                    Can't find what you need? Let us know what the problem is in your own words.
                  </div>
                </div>
              </div>
            </div>
            <div id="common" class="hideme">
              <div class="probHeader">
                <h2 style="margin:0px">Common Services</h2>
                <p>Choose from a list of common vehicle services</p>
              </div>
              <div>
                <div>
       <!-- PUT COMMON SERVICES DATA HERE -->
                <table style="margin-left:20px;" id="commonTable">
      <tr>
        <td><h4>Engine Oil Change</h4><button class="btn btn-default btn-sm" onclick="populateData('input001','Standard Oil Change','input001close');">Standard</button><button class="btn btn-default btn-sm" onclick="populateData('input001','Synthetic Blend Oil Change','input001close');">Synthetic Blend</button><button class="btn btn-default btn-sm" onclick="populateData('input001','Full Synthetic Oil Change','input001close');">Full Synthetic</button></td>
      </tr>
      <tr>
        <td><h4>Tires and Wheels</h4><button class="btn btn-default btn-sm" onclick="populateData('input002','Purchase New Tires','input002close');">Purchase New Tires</button><button class="btn btn-default btn-sm" onclick="populateData('input003','Tire Installation/Rotation','input003close');">Tire Installation/Rotation</button><button class="btn btn-default btn-sm" onclick="populateData('input004','Tire Inspection','input004close');">Tire Inspection</button><button class="btn btn-default btn-sm" onclick="populateData('input005','Wheel Alignment','input005close');">Wheel Alignment</button></td>
      </tr>
      <tr>
        <td><h4>Brake System</h4><button class="btn btn-default btn-sm" onclick="populateData('input006','Making Noise or Vibration','input006close');">Making Noise or Vibration</button><button class="btn btn-default btn-sm" onclick="populateData('input007','Pad Replacement','input007close');">Pad Replacement</button><button class="btn btn-default btn-sm" onclick="populateData('input008','Pad & Rotor Replacement','input008close');">Pad & Rotor Replacement</button></td>
      </tr>
      <tr>
        <td><h4>Air Conditioning & Heating</h4><button class="btn btn-default btn-sm" onclick="populateData('input009','A/C & Heating Inspection','input009close');">A/C & Heating Inspection</button><button class="btn btn-default btn-sm" onclick="populateData('input010','A/C System Recharge','input010close');">A/C System Recharge</button><button class="btn btn-default btn-sm" onclick="populateData('input011','Heater Core Replacement','input011close');">Heater Core Replacement</button><button class="btn btn-default btn-sm" onclick="populateData('input012','Heater Fan Replacement','input012close');">Heater Fan Replacement</button></td>
      </tr>
      <tr>
        <td><h4>Radiator & Coolant</h4><button class="btn btn-default btn-sm" onclick="populateData('input013','Overheating Issues','input013close');">Overheating Issues</button><button class="btn btn-default btn-sm" onclick="populateData('input014','Radiator Fluid Flush','input014close');">Radiator Fluid Flush</button></td>
      </tr>
      <tr>
        <td><h4>Regular Maintenance</h4><button class="btn btn-default btn-sm" onclick="populateData('input015','30k Mileage Service','input015close');">30k Mileage Service</button><button class="btn btn-default btn-sm" onclick="populateData('input015','60k Mileage Service','input015close');">60k Mileage Service</button><button class="btn btn-default btn-sm" onclick="populateData('input015','90k Mileage Service','input015close');">90k Mileage Service</button><button class="btn btn-default btn-sm" onclick="populateData('input016','Engine Tune Up','input016close');">Engine Tune Up</button>
        </td>
      </tr>
      <tr>
        <td><h4>Steering & Suspension</h4><button class="btn btn-default btn-sm" onclick="populateData('input017','Steering/Suspension Inspection','input017close');">Steering/Suspension Inspection</button><button class="btn btn-default btn-sm" onclick="populateData('input018','Steering Pump Replacement','input018close');">Steering Pump Replacement</button><button class="btn btn-default btn-sm" onclick="populateData('input019','Shocks/Strut Replacement','input019close');">Shocks/Strut Replacement</button></td>
      </tr>
      </table>
                </div>
              </div>
            </div>
            <div id="warnings" class="hideme" style="padding:0px;">
              <div class="probHeader"><h2 style="margin:0px">Dashboard Warning Lights</h2>
              <p>What they mean and how to fix them.</p></div>
              <!-- PUT WARNING LIGHTS DATA HERE -->
              <div class="text-center">
                <span class="dropt">
                <%=image_tag('warnings/001.png', :id => "001png", class: 'warning', title: "Oil Pressure Warning - this light will illuminate when the oil pressure sensor detects low oil pressure, the vehicle's engine should be switched of immediately to avoid severe engine damage and the oil level checked to ensure correct quantity in the engine.", :onclick=>"populateData('input040','Oil Pressure Light','input040close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/002.png', :id => "002png", class: 'warning', title: "Battery Warning - This means the vehicle has stopped charging the battery and will eventually go flat. Seek professional help to resolve the issue.", :onclick=>"populateData('input041','Battery Warning Light','input041close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/004.png', :id => "004png", class: 'warning', title: "Front Airbag - Indicates a fault with the airbag system and disables the airbag function, this is now an MOT failure when presented with the light illuminated. Amber light informs the driver when a passenger air bag has been switched of manually.", :onclick=>"populateData('input042','Front Airbag Light','input042close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/005.png', :id => "005png", class: 'warning', title: "Temperature Warning Light - it warns the driver when the engine is overheating and usually demands the driver to stop the vehicle and seek attention to rectify the fault.", :onclick=>"populateData('input043','Temperature Warning Light','input043close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/010.png', id: "010png", class: 'warning', title: "ABS Warning Light - ABS Warning Light - this light will show when you have a fault in the ABS braking system, this will not result in losing your brakes but additional safety features will have been switched of by the control module, professional help should be sought to resolve the issues. Note: The light illuminates briefly on engine start up but switches of automatically.", onclick: "populateData('input044','ABS Warning Light','input044close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/011.png', :id => "011png", class: 'warning', title: "Engine Management Light - this light illuminates when the vehicle detects a fault with the engine management system usually related to emissions or running concerns. Can cause the vehicle to go into limp home mode when illuminated with a loss of engine power, this light require's immediate professional attention to prevent damage to expensive exhaust components.", :onclick=>"populateData('input045','Engine Light','input045close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/016.png', :id => "016png", class: 'warning', title: "Warning Light - this light will illuminate with other lights and is usually accompanied by an error message in the display", :onclick=>"populateData('input046','Warning Light','input046close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/003.png', :id => "003png", class: 'warning', title: "Brake System Alert - this light indicates a low brake fluid level and professional help should be sought to rectify any issues, leaks or low brake linings are a common cause, this light is sometimes used when a vehicle has an ABS fault.", :onclick=>"populateData('input047','Brake System Light','input047close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/017.png', :id => "017png", class: 'warning', title: "Tire Pressure Monitor - consult your owner's manual and re inflate the tyres to correct pressure, then reset the system to extinguish the light, 32 psi is a good pressure if they are not available.", :onclick=>"populateData('input048','Tire Pressure Light','input048close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/015.png', :id => "015png", class: 'warning', title: "Glow Plug Warning - used on Diesel vehicles, no attempt to start the vehicle must be made until the light is extinguished. The light is also used with the engine management light when a fault has been detected.", :onclick=>"populateData('input049','Glow Plug Light','input049close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/018.png', :id => "018png", class: 'warning', title: "Bulb Failure - indicates a problem with one or more of the vehicles bulbs. Pop in and we will gladly replace the offending bulb.", :onclick=>"populateData('input050','Bulb Failure Light','input050close');".html_safe)%>
                </span>
                <span class="dropt">
                <%=image_tag('warnings/012.png', :id => "012png", class: 'warning', title: "Powertrain Malfunction - this light will illuminate when the engine management system detects a fault that requires the engine to be shut down and requires immediate attention by a qualified technician.", :onclick=>"populateData('input051','Powertrain Light','input051close');".html_safe)%>
                </span>
                </div>
              </div>
            <div id="describe" class="hideme">
              <div class="probHeader">
                <h2 style="margin:0px">Describe your issue</h2>
                <p>Tell us in your own words whats wrong.</p>
              </div>
              <div>
                <div class="form-group row">
                  <div class="col-md-12 col-sm-12" style="margin:15px;">
                    <div class="alert alert-dismissible alert-info" style="width:95%">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <strong>Example:</strong> "While driving, when I press my brakes and my car pulls to the right. It only occurs if I am driving upwards of 30 mph and brake hard."
                    </div>
                    <p><textarea class="form-control" style="width:95%;height:100px;" placeholder="Please be as descriptive as possible" id="inputText060"></textarea></p>
                  </div>
                </div>
                <div class="form-group row text-center">
                  <div class="col-md-12 col-sm-12">
                    <button class="btn btn-primary" style="width:auto;" onclick="populateDescribeData('input060','input060close');">ADD TO SERVICES</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div
    <!-- BEGIN YOUR VEHICLE AND YOUR SERVICES AREA -->
    <div class="col-md-3 col-sm-12">
      <div class="row carContain">
        <!-- TITLES AND CONTENT YOUR VEHICLE AND YOUR SERVICES AREA -->
        <div class="col-md-12 col-sm-12 text-center carHeader">
          Your Vehicle
        </div>
        <div class="col-md-12 col-sm-12 text-center carData">
        <!-- POPULATE WITH VEHICLE DATA -->
          <b>2008 Saturn Sky</b><br>
          Redline 2dr 4cyl<br>
          107,000 miles
        </div>
        <div class="col-md-12 col-sm-12 text-center carHeader">
          Your Services
        </div>
        <div class="col-md-12 col-sm-12 carData">
          <%= render 'form_step_two' %>
        </div>
      </div>
    </div>
  </div>
</div>
