
<p>
  <strong>Service Request:</strong>
  <%= @request.service %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong>Add a Quote:</strong>

<%= render 'quote_form' %>

</p>
<p>
<strong> Quotes:</strong>

  <% @request.quotes.each do |quote| %>
  <p><%= number_to_currency(quote.cost)  %></p>
  <p><%= quote.comment %></p>
  <% end %>
</p>

<%= link_to 'Back', requests_path %>
