<p>Service Request:
  <%= @request.service.to_sentence%></p>
  <p>Description:
  <%= @request.description %></p>
  <p>Auto:
    <%= @request.auto.year %> <%= @request.auto.make %> <%= @request.auto.model %> </p>

<p>
<strong> Quotes:</strong>

<% if @request.quotes.blank? %>
  <p> No Quotes yet. </p>
  <% else %>
  <ol>
    <% @request.quotes.each do |quote| %>
    <li>
      <p> Service Center: <%= quote.service_center.service_center_name %> </p>
      <p> Service Center location: <%= quote.service_center.city %> </p>
      <p>Quote cost: <%= number_to_currency(quote.cost) %></p>
      <p>Comments: <%= quote.comment %></p>

      <div class='block'>
        <button class='inline-block-tight btn'>Wed</button>
        <button class='inline-block-tight btn'>thursday</button>
        <button class='inline-block-tight btn'>Saturday</button>
      </div></br>

      <% end %>

    </li>
    <% end %>
  </ol>
</p>
<% if service_center_signed_in?%>
<%= link_to 'Back', sc_dashboard_requests_path %>
<% else %>
<%= link_to 'back', requests_path %>
<% end %>
