<p>Service Request:
  <%= @request.service.to_sentence%></p>
  <p>Description:
  <%= @request.description %></p>
  <p>Auto:
    <%= @request.auto.year %> <%= @request.auto.make %> <%= @request.auto.model %> </p>

<p>
<strong> Quotes:</strong>
  <ol>
    <% @request.quotes.each do |quote| %>
    <li><p><%= number_to_currency(quote.cost)  %></p>
    <p><%= quote.comment %></p></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Back', requests_path %>
