<div class="row light">
  <div class="col-md-9 col-sm-12">
    <h2>Service center account sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group row">
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'First name' %> -->
      <br />
      <%= f.text_field :first_name, placeholder: 'First name', autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'Last name' %> -->
      <br />
      <%= f.text_field :last_name, placeholder: 'Last name', class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'Business name' %> -->
      <br />
      <%= f.text_field :service_center_name, placeholder: 'Business name', class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'street address' %> -->
      <br />
      <%= f.text_field :address, placeholder: 'Street address', class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'Apt, suite, etc...' %> -->
      <br />
      <%= f.text_field :address2, placeholder: 'Apt, suite, etc...', class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'zipcode' %> -->
      <br />
      <%= f.text_field :city, placeholder: "City", class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'zipcode' %> -->
      <br />
      <%= f.text_field :zipcode, placeholder: "Zip code", class: "form-control"  %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label :state %> -->
      <br />
      <% states = %w(AL AK AZ AR CA CO CT DC DE FL GA HI ID IL IN IA KS KY LA ME MA MI MN MO MS
    MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VA VT WA WI WV WY) %>
      <%= f.select :state, options_for_select(states), {prompt: 'State'},  { class: "form-control"} %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="field">
      <!-- <%= f.label 'zipcode' %> -->
      <br />
      <%= f.phone_field :phone_number, placeholder: "Phone number", class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
  <div class="field">
    <!-- <%= f.label :email %> -->
    <br />
    <%= f.text_field :email, placeholder: 'Email', autofocus: true, class: "form-control"  %>
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <div class="field">
    <!-- <%= f.label :password %> -->
    <br />
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: "form-control"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <div class="field">
    <!-- <%= f.label :password_confirmation %> -->
    <br />
    <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "off", class: "form-control" %>
  </div>
</div>
<div class="col-md-6 col-sm-12">
    <br />
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-default" %>
  </div>
</div>
</div>
</div>
<% end %>
<br />
</div>
<div class="col-md-12 col-sm-12 orange" style="margin-bottom:8px;">
  <div>
    <center>Already have an account? Sign in with the menu above."</center>
  </div>
</div>
