<%= form_for(auto) do |f| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :year %>
    <%= f.select(:year, options_for_select(@get_years)) %>
  </div>

  <div class="field">
    <%= f.label :make %>
    <%= f.select(:make, options_for_select(@get_makes)) %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.select(:model, options_for_select(@get_models)) %>
  </div>

  <div class="field">
    <%= f.label :trim %>
    <%= f.text_field :trim %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions" id='newAuto'>
    <%= f.submit %>
  </div>
<% end %>
