<%= form_for(auto) do |f| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.hidden_field :user_id, value: @auto.user.id %>
  </p>
  <div id="autos">
  <p>     
    <%= f.select(:year, options_for_select(@get_years)) %>
  </p>
  <p>
    <%= f.select(:make, ['Select Make']) %>
  </p>
  <p>
    <%= f.select(:model, ['Select Model']) %>
  </p>
  <p>
    <%= f.select(:trim, ['Select Trim']) %>
  </p>
  <br /><br />
  <div class="actions" id='newAuto'>
    <%= f.submit %>
  </div>

  </div>

<% end %>
