<%= form_for(auto) do |f| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h3 class="light">What type of vehicle to you have?</h3>
    <div class="container" id="autos" style="width:auto;height:auto;">
      <form style="margin-bottom:12px;">
      <% if @auto.user.blank? %>
      <%= f.hidden_field :user_id, value: false %>
      <% else %>
      <%= f.hidden_field :user_id, value: @auto.user.id %>
      <% end %>

        <div class="form-group row">
          <div class="col-md-6 col-sm-12" style="margin-bottom:8px;">
          <%= f.select :year, options_for_select(@get_years), {}, {autofocus: 'true', class: "form-control"} %>
          </div>
          <div class="col-md-6 col-sm-12" style="margin-bottom:8px;">
            <%= f.select(:make, ['Select Make'], {}, {class: "form-control"}) %>
          </div>

          <div class="col-md-6 col-sm-12" style="margin-bottom:8px;">
            <%= f.select(:model, ['Select Model'], {}, {class: "form-control"}) %>
          </div>
          <div class="col-md-6 col-sm-12" style="margin-bottom:8px;">
            <%= f.select(:trim, ['Select Trim'], {}, {class: "form-control"}) %>
          </div>

          <div class="col-md-6 col-sm-12" style="margin-bottom:8px;">
            <%= f.text_field :mileage, class: "form-control", placeholder: "Mileage" %>
          </div>
        </div>
        <!-- <div class="form-group row text-center">
          <div class="col-md-12 col-sm-12">
            <hr class="vehicleHR">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 col-sm-12">
            <input type="text" maxlength="17" minlength="17" class="form-control" id="Vvin" placeholder="Vehicle VIN" disabled>
          </div>
          <div class="col-md-6 col-sm-12">
            <input type="number" maxlength="6" min="1" max="999999" class="form-control" id="Vmileage2" placeholder="Mileage" disabled>
          </div> -->

        <div class="form-group row">
          <div class="col-md-12 col-sm-12">
            <!-- If user.id is false, pop up sign in -->
            <%= f.submit 'START', class: 'btn btn-primary', id: "btn_id" %>
          </div>
        </div>
        </div>
      </form>
<% end %>
