<%= form_for(auto) do |f| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, value: @auto.user.id %>
  </div>
  <div id="autos">
  <div class="field">
    <%= f.label :year %>
    <%= f.select(:year, options_for_select(@get_years)) %>
  </div>

  <div class="field">
    <%= f.label :make %>
    <%= f.select(:make, ['Select Make']) %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.select(:model, ['Select Model']) %>
  </div>
  <div class="field">
    <%= f.label :trim %>
    <%= f.select(:trim, ['Select Trim']) %>
  </div>
  <br /><br /><br /><br />
  <div id="details">No Vehicle Selected Yet!</div>
  </div>
<div class='btn btn-primary' id="newAuto">Add Auto</div>
<% end %>
