<p id="notice"><%= notice %></p>

<h1>Autos</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Trim</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autos.each do |auto| %>
      <tr>
        <td><%= auto.make %></td>
        <td><%= auto.model %></td>
        <td><%= auto.year %></td>
        <td><%= auto.trim %></td>
        <td><%= auto.image %></td>
        <td><%= link_to 'Show', auto %></td>
        <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
        <td><%= link_to 'Destroy', auto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><% @get_makes.to_s %>
<br>

<%= form_for(@auto) do |f| %>


      <%= f.select(:make, options_for_select(@get_makes)) %>


  <% end %>


<%= link_to 'New Auto', new_auto_path %>
