<div class='container'>
  <div class='row'>
    <div class='m12'>
      <p><%= link_to 'New Auto', new_auto_path %>|<%= link_to 'Requests', requests_path %>|<%= link_to 'New Request', new_request_path %>|<%= link_to 'Sign in as service center', new_service_center_session_path %>|<%= link_to "Sign out service_center", destroy_service_center_session_path, method: :delete, :class => 'navbar-link'  %>|<%= current_service_center.id if current_service_center %>|<%= current_user.id if current_user %></p>

<div class="navbar-text pull-right">
<% if user_signed_in? %>
  Welcome, <strong><%= current_user.email %></strong> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |

  <%= form_for(:user, :url => session_path(:user), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
    <div class="form-group">
      <%= f.text_field :email, :placeholder => "Email", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
    </div>
    <div class="checkbox">
      <%= f.check_box :remember_me %><%= f.label :remember_me %>
    </div>
    <%= f.submit 'Login', class: "btn btn-default" %>
    <% end %>
<% end %>
      </div>
  </div>
  </div>
</div>
