<!DOCTYPE html>
<html>
  <head>
    <title>WrenchRoverApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
    <header class='container'>
      <%= render 'layouts/navbar' %>
    </header>

  <body>
    <div id='flash'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='m12'>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='m12'>
          <p><%= link_to 'New Auto', new_auto_path %>|<%= link_to 'Requests', requests_path %>|<%= link_to 'New Request', new_request_path %></p>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
  
</html>
